
  {% comment %}
** Product - default view **
- Product template
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

<div class="main content">

  {% if section.blocks.size > 0 %}
    {% assign sidebar = false %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="product clearfix">
    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="">
    {% endif %}

    <div  class="product-{{ product.id }} container"
          data-free-text="{{ settings.free_price_text }}"
          >
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
        {% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %} 
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"> 
        <span itemprop="itemReviewed" content="{{ product.title }}"></span> 
        <span itemprop="ratingValue" content="{{ product.metafields.stamped.reviews_average | round:2 }}"></span> 
        <span itemprop="ratingCount" content="{{ product.metafields.stamped.reviews_count }}"></span> 
        </div> 
        {% endif %}
        <div class="product-images-mobile-view {% if sidebar %}seven{% else %}nine{% endif %} columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="product-details-wrap {% if sidebar %}five{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
          <div class="product-details-block">
            {% assign collection_handles = product.collections | map: 'handle' %}
            {% assign variant = product.selected_or_first_available_variant %}

            <!-- {% if product.available %}
              {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
              {% endif %}
            {% endif %} -->
            {% if collection_handles contains 'new' %}
              <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
            {% endif %}
            {% if collection_handles contains 'pre-order' %}
              <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
            {% endif %}

            {% if section.settings.display_vendor %}
              <p class="vendor">
                <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
              </p>
            {% endif %}

            {% if variant.sku != blank and section.settings.display_sku %}
              <p class="sku">
                <span itemprop="sku">{{ variant.sku }}</span>
              </p>
            {% endif %}
            {% if variant.price < variant.compare_at_price and variant.available %}
              <span class="sale-badge">Sale</span>
            {% endif %}
            {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
            <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
            {% endif %}
            <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
            
            {% assign product_tags = product.tags | join: ' ' %}
            {% if product_tags contains 'meta-size-chart-' %}
              {% for tag in product.tags %}
                {% if tag contains 'meta-size-chart-' %}
                  <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                  {% include 'popup-size-chart', product_id: product.id %}
                {% endif %}
              {% endfor %}
            {% elsif settings.size_chart != blank %}
              <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
            {% if collection_handles contains 'coming-soon' %}
              <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
            {% else %}
              <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                <meta itemprop="seller" content="{{ shop.name | escape }}" />
                <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                <meta itemprop="itemCondition" content="New" />

                <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                <span class="current_was_price">
                  <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                    <span class="current_price {% if product.available == false %}hidden{% endif %}">
                      {% if variant.price > 0 %}
                        <span class="money">{{ variant.price | money }}</span>
                      {% else %}
                        {{ settings.free_price_text }}
                      {% endif %}
                    </span>
                  </span>
                  <span class="was_price">
                    {% if variant.price < variant.compare_at_price and variant.available %}
                      <span class="money">{{ variant.compare_at_price | money }}</span>
                    {% endif %}
                  </span>
                  {% if section.settings.display_savings %}
                    <span class="sale savings">
                      {% if variant.price < variant.compare_at_price and variant.available %}
                        <span class="sale-save">Save {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)</span>
                      {% endif %}
                    </span>
                  {% endif %}
                </span>
              </p>
              <!-- <div class="feature_divider"></div>    -->
              {% include 'product-notify-me' %}
            {% endif %}
            {% if section.settings.upsell_product %}
              {% assign u_product = all_products[section.settings.upsell_product] %}
              <div class="need_anyproject">
                <div class="checkbox">
                  <input type="checkbox" id="upsell" name="upsell" value="{{u_product.first_available_variant.id}}">
                  <label for="upsell"></label>
                </div>
                
                <img  src="{{ u_product.featured_image | img_url: '480x' }}"
                  alt="{{u_product.title}}"
                  class="need_anyproject_img"
                />
                <span class="need_anyproject_description" >{{ u_product.title }} - {{ u_product.price | money }} <br/>(needed for any project)</span>
                <div class="tooltip-box">
                  <a class="tooltip_btn">{% include 'icon-pack' with icon: 'question' %}</a>
                  <div class="tooltip_content">
                    {{ section.settings.upsell_info }}
                  </div>
                </div>
                
              </div>
            {% endif %}
            
            

            {% if section.settings.product_description_position == "top" %}
              {% if product.description != blank %}
              <div class="description" itemprop="description">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            {% endif %}
            {% endif %}

            {% unless collection_handles contains 'coming-soon' %}
              {% include 'product-form' with 'product' %}
            {% endunless %}
            {% comment %}
            <div class="info-text">
              {% include 'icon-pack' with icon: 'order-info-text' %}
              <p>{{section.settings.info_text}}</p>
            </div>
            {% endcomment %}
            <div class="shipping_guarantee">
              <div class="free_shipping_desc">
                <svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>C7878FD6-9DD6-4C25-90C1-10FEFC591CD3</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                      <g id="product7" transform="translate(-860.000000, -635.000000)" stroke="#4EBDED" stroke-width="1.2">
                          <g id="free-shipping" transform="translate(861.000000, 635.726683)">
                              <polygon id="Path-23" points="8.84546517 19.494641 -1.58095759e-13 15.7111049 -1.58095759e-13 4.14654826 9.16023963 -1.74438242e-12 19.2736935 4.14654826 19.2736935 15.7111049"></polygon>
                              <polyline id="Path-24" points="9.17802136 19.494641 9.17802136 7.91116764 0.348067919 4.2053793"></polyline>
                              <line x1="9.17802136" y1="7.91116764" x2="19.2736935" y2="4.2053793" id="Path-25"></line>
                          </g>
                      </g>
                  </g>
                </svg>
                <span class="shipping_guarantee_desc" >Free Shipping $45+</span>
                <svg width="5px" height="9px" viewBox="0 0 5 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>CE058F18-4CCB-4A0B-B94B-4E339FFF2877</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="product7" transform="translate(-1038.000000, -641.000000)" stroke="#4EBDED">
                          <polyline id="angle-right" transform="translate(1040.531073, 645.462509) scale(1, -1) rotate(-90.000000) translate(-1040.531073, -645.462509) " points="1036.65803 643.525988 1040.53107 647.399031 1044.40412 643.525988"></polyline>
                      </g>
                  </g>
                </svg>
              </div>
              <div class="guarantee_desc">
                <svg width="23px" height="21px" viewBox="0 0 23 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>FAF7F06E-5643-45C8-BE77-3C6B557DD263</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                      <g id="product7" transform="translate(-1079.000000, -635.000000)" stroke="#4EBDED" stroke-width="1.2">
                          <g id="mb-guarantee" transform="translate(1079.607978, 636.208629)">
                              <path d="M10.6907671,9.11907214 C9.41135534,9.11907214 8.34370828,8.36024862 8.09664946,7.35436626 C8.06135534,7.21318979 8.04370828,7.06318979 8.04370828,6.91318979 C8.04370828,5.69554273 9.22606122,4.70730744 10.6907671,4.70730744 C12.155473,4.70730744 13.3378259,5.69554273 13.3378259,6.91318979 C13.3378259,7.06318979 13.3201789,7.21318979 13.2848847,7.35436626" id="Stroke-1"></path>
                              <path d="M8.09673769,10.883778 C8.06144357,11.0249545 8.04379651,11.1749545 8.04379651,11.3249545 C8.04379651,12.5426016 9.22614946,13.5308369 10.6908553,13.5308369 C12.1555612,13.5308369 13.3379142,12.5426016 13.3379142,11.3249545 C13.3379142,11.1749545 13.3202671,11.0249545 13.284973,10.883778 C13.0379142,9.87789567 11.9702671,9.11907214 10.6908553,9.11907214" id="Stroke-3"></path>
                              <line x1="10.6907671" y1="15.2955427" x2="10.6907671" y2="13.5308369" id="Stroke-5"></line>
                              <line x1="10.6907671" y1="4.70730744" x2="10.6907671" y2="2.94260156" id="Stroke-7"></line>
                              <line x1="13.3378259" y1="7.35436626" x2="13.3378259" y2="7.35436626" id="Stroke-9"></line>
                              <path d="M1.63544672,8.05929826 C1.60515199,8.35927463 1.58963503,8.66361436 1.58963503,8.97157827 C1.58963503,13.9264441 5.60634744,17.9431565 10.5612133,17.9431565 C14.3412151,17.9431565 17.5752151,15.6054448 18.8963414,12.2968933 M19.5327916,8.97157827 C19.5327916,4.01671241 15.5160792,-1.27897692e-13 10.5612133,-1.27897692e-13 C6.97739578,-1.27897692e-13 3.8843752,2.10135153 2.4470537,5.13915248" id="Shape"></path>
                              <polyline id="Path-7" points="17.9594872 7.49460748 19.5327916 9.4457489 20.8982891 7.32251368"></polyline>
                              <polyline id="Path-8" points="1.56763491e-13 9.90684931 1.58963503 7.32251368 3.02840391 9.73799238"></polyline>
                          </g>
                      </g>
                  </g>
                </svg>
                <span class="shipping_guarantee_desc" >100% Money Back Guarantee</span>
                <svg width="5px" height="9px" viewBox="0 0 5 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>CE058F18-4CCB-4A0B-B94B-4E339FFF2877</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="product7" transform="translate(-1038.000000, -641.000000)" stroke="#4EBDED">
                          <polyline id="angle-right" transform="translate(1040.531073, 645.462509) scale(1, -1) rotate(-90.000000) translate(-1040.531073, -645.462509) " points="1036.65803 643.525988 1040.53107 647.399031 1044.40412 643.525988"></polyline>
                      </g>
                  </g>
                </svg>
              </div>
            </div>
            
            {% if section.settings.video != blank %}
              <div class="video-block">
                <a class="video_btn">
                  <img src="{{section.settings.video_bg | img_url: 'original' }}">
                </a>
                <div class="video_modal">
                  <a class="close"></a>
                  <iframe src="{{section.settings.video | replace_first: '/watch?v=', '/embed/' }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            {% endif %}

            {% if section.settings.product_description_position == "bottom" %}
              <div class="description bottom" itemprop="description">
                
                {% if product.description != blank and product.description contains '<ul class="tabs">' %}
                  {% assign description = product.description | split: '<!--Start tab labels-->' | last %}
                  {% assign tab_link_content = description | split: '<ul class="tabs">' | last | split: '<!--Start tab content-->' | first %}
                  {% assign tab_content = description | split: '<!--Start tab content-->' | last %}
                  {% assign tabs_array = tab_link_content | remove_first: '<ul class="tabs">' | remove_first: '</ul>' | split: '">' %}
                  {% for tab_str in tabs_array %}
                    {% if forloop.index > 1 %}
                      {% assign tab_description = tab_str | split: '</a>' | first %}
                      {% assign tabs_str = tabs_str | append: ',' | append: tab_description %}
                    {% endif %}
                  {% endfor %}
                  {% assign tabs_arr = tabs_str | remove_first: ',' | split: ',' %}
                  {% assign tab_contents = tab_content | remove_first: '<ul class="tabs-content">' | remove_first: '</ul>' | split: '</li>' %}
                  {% for tab in tabs_arr %}
                    <div class="toggle-contents">
                      <h6> {{ tab }} <span class="right icon-down-arrow"></span></h6>
                      <div class="toggle-content">
                        {% assign i = forloop.index | minus: 1 %}
                        {{ tab_contents[i] | append: '</li>' }}
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                {{product.description}}
                {% endif %}
              </div>
            {% endif %}

            {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
            
              <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>          
            
            {% endif %}
            
          </div>
        </div>
      </div>

    </div>

    {% include 'include-stencil-in-action' %}
    
    {% include 'include_last_for_years' %}

    {% if product.metafields.stamped.reviews_count != blank %}
      {% include 'include-from-our-community' %}
      {% include 'customer-love-review' %}
    {% endif %}
    
    {% if section.settings.display_related_products %}
      {% include 'related-products' %}
    {% endif %}
    {% if section.settings.display_recently_viewed %}
      {% include 'recently-viewed' %}
    {% endif %}
</div>
</div>
</div>   
{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": false,
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "text",
      "id": "info_text",
      "label": "Info text",
      "default": "Order within 2 days 20 hours 56 minutes 5 seconds to get it by November 2"
    },
    {
      "type": "header",
      "content": "Upsell product"
    },
    {
      "type": "product",
      "id": "upsell_product",
      "label": "Upsell product"
    },
    {
      "type": "richtext",
      "id": "upsell_info",
      "label": "Upsell info"
    },
    {
      "type": "header",
      "content": "Stencil action content"
    },
    {
      "type": "image_picker",
      "id": "stencil_action_bg",
      "label": "Stencil action background"
    },
    {
      "type": "text",
      "id": "getInspired",
      "label": "Pre heading title",
      "default": "GET INSPIRED"
    },
    {
      "type": "text",
      "id": "stencil_action_title",
      "label": "Heading title",
      "default": "See This Stencil in Action"
    },
    {
      "type": "checkbox",
      "id": "bg_status",
      "label": "Title background status"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Backgorund color",
      "default": "#f7ebe5"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio", 
      "options": [
        {
          "value": "16:9",
          "label": "16:9"
        },
        {
          "value": "4:3",
          "label": "4:3"
        }
      ],
      "default": "16:9"
    },
    {
      "type": "checkbox", 
      "id": "autoplay",
      "label": "Autoplay video",
      "default": false,
      "info": "Limited browser support for autoplaying video ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/360000661568-Why-won-t-my-video-autoplay-))"
    },
    {
      "type": "checkbox",
      "id": "autoloop",
      "label": "Autoloop video",
      "default": true
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "r_bg_status",
      "label": "Title background status"
    },
    {
      "type": "color",
      "id": "r_bg_color",
      "label": "Backgorund color",
      "default": "#f7ebe5"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "text",
      "id": "rv_sub_title",
      "label": "Sub Title",
      "default": "RELATED PRODUCTS"
    },
    {
      "type": "text",
      "id": "rv_title_comment",
      "label": "Title Comment",
      "default": "FIND THE PERFECT DESIGN"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    },
    {
      "type": "video_url",
      "id": "video",
      "accept": [
        "youtube"
      ],
      "label": "video"
    },
    {
      "type": "image_picker",
      "id": "video_bg",
      "label": "Video background"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "last_for_years",
      "name": "Last for years",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "bg_status",
          "label": "Title background status"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Backgorund color",
          "default": "#f7ebe5"
        },
        {
          "type": "text",
          "id": "comment",
          "label": "comment"
        },
        {
          "type": "html",
          "id": "material_image",
          "label": "Materal"
        },
        {
          "type": "text",
          "id": "material_title",
          "label": "Material Title"
        },
        {
          "type": "text",
          "id": "material_content",
          "label": "Material Cotent"
        },
        {
          "type": "html",
          "id": "reusable_image",
          "label": "Reusable"
        },
        {
          "type": "text",
          "id": "reusable_title",
          "label": "Reusable Title"
        },
        {
          "type": "text",
          "id": "reusable_content",
          "label": "Reusable Cotent"
        },
        {
          "type": "html",
          "id": "gorgeous_image",
          "label": "Gorgeous"
        },
        {
          "type": "text",
          "id": "gorgeous_title",
          "label": "Gorgeous Title"
        },
        {
          "type": "text",
          "id": "gorgeous_content",
          "label": "Gorgeous Cotent"
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "bg_status",
          "label": "Title background status"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Backgorund color",
          "default": "#f7ebe5"
        },
        {
          "type": "text",
          "id": "comment",
          "label": "comment"
        }
      ]
    },
    {
      "type": "customer_love_review",
      "name": "customer love review",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "bg_status",
          "label": "Title background status"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Backgorund color",
          "default": "#f7ebe5"
        },
        {
          "type": "text",
          "id": "comment",
          "label": "comment"
        }
      ]
    },
    {
      "type": "from_our_community",
      "name": "From Our Community",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "bg_status",
          "label": "Title background status"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Backgorund color",
          "default": "#f7ebe5"
        },
        {
          "type": "text",
          "id": "comment",
          "label": "comment"
        },
        {
          "type": "image_picker",
          "id": "community_background",
          "label": "Community Background Image"
        },
        {
          "type": "image_picker",
          "id": "community_image1",
          "label": "Community Image"
        },
        {
          "type": "image_picker",
          "id": "community_image2",
          "label": "Community Image"
        },
        {
          "type": "image_picker",
          "id": "community_image3",
          "label": "Community Image"
        },
        {
          "type": "image_picker",
          "id": "community_image4",
          "label": "Community Image"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}
  
{% endschema %}
<style rel="stylesheet"> .spr-review-content-body{ opacity:0; }.bigImg img{max-width:350px;}</style>
<script type="text/javascript">ryviu();var tabclass=document.getElementsByClassName("review_tab");document.addEventListener("click",function(a){("#shopify-product-reviews"==a.target.getAttribute("href")||hasClass(a.target,"review_tab"))&&ryviu()},!1);function hasClass(a,b){return-1<a.className.split(" ").indexOf(b)}function ryviu(){setTimeout(function(){var a=document.getElementsByClassName("spr-review-content-body");0<a.length&&"ok"!=a[0].getAttribute("data-ryviu")?getRyviu(a):ryviu()},100)}
function getRyviu(a){for(var b=0;b<a.length;b++){var c=a[b].innerText;if(1!=c.indexOf("@")){for(var c=c.split("@"),d=findUrls(c[1]),f="",e=0;e<d.length;e++)f+="<div onclick=\"showImg(this,'"+d[e]+'\')" style="float:left; overflow:hidden;float:left; margin-right: 5px;"><a class="reviewImgs" href="javascript:void(0)" data-src="'+d[e]+'_350x350.jpg"><img src="'+d[e]+'_50x50.jpg" /></a></div>';f+='<p style="clear:both; float:left; padding-top: 10px;" class="bigImg"></p>';a[b].innerHTML="<p>"+c[0]+"</p>"+
f}else a[b].innerHTML="<p>"+c+"</p>";a[b].setAttribute("data-ryviu","ok");a[b].style.opacity="1"}}
function showImg(a,b){a.parentNode.lastChild.innerHTML='<div style="position:relative;"><a style="position: absolute; right: 0; top: 0;  background: #333;  height: 35px; width: 35px; font-size: 15px; display: block;  text-align: center;  opacity: 0.8; line-height: 35px;  color: #FFF; border-radius: 35px;" href="javascript:void(0)" onclick="closeRyviuImg(this)">X</a><img src="'+b+'" /></div>'}function closeRyviuImg(a){a.parentNode.innerHTML=""}
function findUrls(a){a=(a||"").toString();for(var b=[],c,d=/(((ftp|https?):\/\/)[\-\w@:%_\+.~#?,&\/\/=]+)|((mailto:)?[_.\w-]+@([\w][\w\-]+\.)+[a-zA-Z]{2,3})/g;null!==(c=d.exec(a));)b.push(c[0]);return b};</script>